/* #region global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Outfit' !important;
}

html, body, #root, #outer-container, #page-wrap, #parent-container, #profile-page {
    min-height: 100vh;
    height: 100%;
}

/* #endregion */

/* ---------------- */

/* #region Home page  */

/* Thing on top-right */

.top-right-element {
    position: fixed;
    right: 36px;
    top: 36px;
}

/* Button */

.profile-button {
    width: 176px;
    height: 54px;
    font-family: "ClashDisplay" !important;
    font-size: 20px;
    border-width: 3px !important;
}

/* Total wrapper */

#parent-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.home-background {
    background-image: url("/src/assets/background_new.png");
    background-size: contain;
    background-position: center; 
}

/* Popup modal */

.modal-init{
    max-height: none !important;
    max-width: none !important;
    width: 50% !important; 
}

/* App Title */

.app-title {
    font-family: "ClashDisplay-Medium";
    font-size: 7rem !important;
}

.left-title {
    margin-bottom: 4.5rem;
}

.right-title {
    margin-top:  4.5rem;
}

.app-desc {
    margin-top: -1.5rem;
    font-family: "ClashDisplay";
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.mini-title {
    font-family: "ClashDisplay-Medium";
    font-size: 2rem;
    letter-spacing: 1px;
}

/* #endregion */

/* ---------------- */

/* #region Hamburg menu item */

.menu-title {
    font-family: "ClashDisplay-Medium";
    font-size: 2.25em;
    color: white;
}

.menu-left-title {
    margin-bottom: -1.5rem;
}

.menu-item {
    text-decoration: none;
    color: white;
    font-family: "Outfit";
    font-size: 2rem;
}

.menu-item:hover {
    color: rgb(89, 103, 100);
}
  
/* Hamburg CSS */

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}
  
/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #212529;
    
}

.white-bg {
    background: #ffffff;
}
  
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #5e5e5e;
}
  
/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 1em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

/* #endregion */

/* ---------------- */

/* #region Profile page */

.prof-msg {
    font-family: "Outfit";
    font-size: 2.5rem;
    letter-spacing: 0px;
}

.form-label, .form-control, .form-select {
    font-family: "Outfit";
}

.form-label {
    font-size: 1.3rem;
}

.save-prof {
    font-family: "Outfit" !important;
    font-weight: 200;
}

/* #endregion */

/* ---------------- */

/* #region Welcome Page */

.welcome-title {
    font-family: "Outfit";
    font-size: 3.4rem;
}

.get-started {
    font-family: "Outfit" !important;
    font-size: 1.5rem !important;
}

.welcome-button {
    background-color: #000000 !important;
    border-radius: 30px !important;
}

/* #endregion */

/* ---------------- */

/* #region Categories Page */

.course-categories-body {
    padding: 10% 0 0;
}

.course-page-title {
    font-size: 3.43rem;
    font-family: 'Outfit';
    padding: 0% 0% 2rem;
}

.progress-container {
    position: relative;
}

.bar-progress {
    height: 1.5rem !important;
    border-radius: 13px !important;
}



.progress-bar {
    background-color: #000000 !important;
    border-radius: 13px !important;
    padding: 0 !important;
}

.card-progress {
    background-color: #f7fefe !important;
    border-radius: 13px !important;
}

.progress-marker {
    z-index: 1;
    position: absolute;
    width: 2rem; 
    height: 2rem; 
    border: 0.5rem solid #000000; 
    background-color: #E4E4E4;
    border-radius: 50%;
    bottom: calc(50% - 1rem); /* Center vertically */
}

.marker-label {
    font-family: 'Outfit';
    position: absolute;
    bottom: 2rem;
    background-color: #000000;
    color: #ffffff;
    width: 5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(50% - 2.5rem);
}

.category-list {
    width: 100%;
    border-radius: 0 !important;
    border: 0 !important;
    background-color: #F4F4F4 !important;
}

.category-list .card-image {
    border-radius: 0 !important;
}

.category-list .card-body {
    font-family: 'Outfit';
}

.category-list .card-title {
    font-weight: 400 !important;
    margin-bottom: 4px;
}

.category-list .card-text {
    font-weight: 300;
    color: #929292;
}

.category-list .card-progress {
    height: 1rem !important;
}

.category-list .progress-bar {
    height: 1rem;
    background-color: #4A6478 !important;
}

.view-toggle-container {
    display: flex;
    align-items: center;
}
  
.view-toggle {
    display: flex;
    align-items: center;
}

.toggle-button {
background-color: #ffffff00 !important;
border: none !important;
color: #A6A6A6 !important;
}

.toggle-button.selected {
color: #4A6478 !important;
}
.separator {
width: 1px;
height: 40px;
background-color: #dee2e6;
margin: 0 5px;
}
  

/* List view */

.category-list-view .progress {
    border-radius: 25px !important;
}

.category-list-view .progress-bar {
    background-color: white !important;
    border-radius: 20px !important;
}

/* #endregion Courses Page */

/* ---------------- */

/* #region misc */

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.outfit {
    font-family: "Outfit";
}

/* #endregion */

/* ---------------- */

/* #region Course List Page */

.course-list-header {
    width: 100%;
    height: fit-content;
    background-position: center;
    background-size: cover;
}

.category-page-title {
    font-size: 2.75rem;
    font-family: 'Outfit';
    padding: 15% 0% 2rem;
}

.add-course-modal .modal-sub-headers{
    font-size: 1.2rem !important;
}

.add-course-modal .modal-info {
    font-size: 0.8rem;
}

.add-course-modal .add-course-input {
    border-color: #E1E1E1;
    padding-top: 9px;
    padding-bottom: 9px;
}

.add-course-btn {
    border-color: #E1E1E1 !important;
    background-color: white !important;
    color: #767676 !important;
    border-radius: 10px !important;
}

.add-course-selected {
    background-color: #767676 !important;
    color: white !important;
}

.arrow-icon-container {
    position: relative;
    bottom: 30px;
    left: 30px;
}

.delete-icon-container {
    position: relative;
    bottom: 30px;
    right: 30px;
}

.arrow-icon {
    padding: auto;
    margin: auto;
    transition: color 0.3s ease;
}

.arrow-icon:hover{
    color: #eaeaea;
}

.delete-icon {
    transition: color 0.3s ease;
}

.delete-icon:hover{
    color: #e45c5c;
}

.course-item {
    background-color: #D6D6D6;
    font-weight: 300;
    border-radius: 10px;
}

.completed {
    background-color: #F4F4F4;
}

.add-course {
    background-color: #f6f6f6;
    border: 1px solid #E9E9E9;
    transition: background-color 0.3s ease;
}

.add-course:hover {
    background-color: #E9E9E9;
    border: 1px solid #ffffff;
}

.search-courses {
    background-color: #ECEBEB !important;
    border: none !important;
    height: 3rem;
}

.search-courses::placeholder {
    color: #767676 !important;
}

/* #endregion */

/* ---------------- */

/* #region AddCategoryModal */

/* For PC screens, adjusting width a bit */
@media (min-width: 576px) {
    /* default: var(--bs-modal-width) <- 500px*/
        .add-category-modal {
            max-width: 55% !important;
        }
    }

.add-category-modal-content {
    margin: 3% 15%;
}

.add-category-modal .btn-close {
    position: absolute;
    top: 5%;
    right: 5%;
}


.add-category-modal-header {
    justify-content: center;
    border-bottom: 1px solid black !important;
}

.add-category-modal .modal-title {
    font-size: 2.5rem;
}

.add-category-modal .modal-body {
    margin: 1% 0%;
}

.modal-sub-headers {
    font-family: 'Outfit';
    font-size: 1.5rem !important;
}

.selected {
    border: 5px solid rgb(0, 0, 0);
    transition: border 0.2s ease-in-out;
    position: relative;
}

.modal-img-container {
    flex: 1 1 22%; /* Adjust this value to control the size of each image container */
    margin: 0.5%; /* Add some margin to create space between images */
    position: relative; /* For positioning the overlay */
  }
  
  .modal-img {
    width: 100%;
    height: 6rem;
    object-fit: cover;
  }

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    pointer-events: none; /* Ensures that the overlay doesn't intercept clicks */
}

.add-category-modal .modal-footer {
    border-top: none;
}

.scrollable-query-outcome {
    max-height: 20rem; /* Adjust the height as needed */
    overflow-y: auto;
}

.query-item {
    min-height: 6rem;
    align-items: center;
    position: relative;
}

.query-item:hover {
    background-color: #eeeeee;
}

.query-item-title {
    font-size: 1.3rem;
    font-weight: 400;
}

.query-item-id {
    font-size: 0.7rem;
    color: #B1B1B1;
    font-style: italic;
}
  

/* #endregion */

/* ---------------- */

/* #region DeleteConfirmationDialog */

.delete-dialog {
    font-family: 'Outfit' !important;
}

/* #endregion */

/* ---------------- */

/* #region Animations  */

.fade-slide-in {
    opacity: 0;
    transform: translateX(50%);
    animation: fadeSlideIn 0.5s forwards ease-out;
}
  
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


.fade-slide-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideUp 0.5s forwards ease-out;
  }
  
@keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.parent-container {
    animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card {
    transition: all ease 200ms;
}

.card:hover {
    transform: scale(1.03);
  }
  
  
/* #endregion */

/* ---------------- */